<h1>Currencies</h1>

<h2>Convert Currency</h2>
<%= form_with(url: currencies_path, method: :get, local: true) do |form| %>
    <h3>Enter amount<h3>
        <%= form.text_field :amount, style: 'border-radius: -2rem;' %>
        <h3>currency to convert from</h3>
            <%= form.select(:convert_from, @currencies_for_conversion, prompt: "Please select a currency") %>
        <h3>currency to convert to</h3>
        <%= form.select(:convert_to, @currencies_for_conversion, prompt: "Please select a currency") %>
    <%= form.submit "Submit", class: "custom-button" %>
<% end %>

<h3> Result</h3>
<%=  @rate if @rate.present? %>

<h2>Local currencies</h2>
    <%= form_with(url: currencies_path, method: :get, local: true) do |form| %>
        <%= form.select(:country, @countries_for_select, prompt: "Please select a country") %>
    <%= form.submit "Submit", class: "custom-button" %>
    <% end %>
    <% if @currencies.present? %>
        <% @currencies.each do |currency| %>
            <ul>
                <li><%= currency %></li>
            </ul>
        <% end %>
    <% end %>

<h2>Countries</h2>
    <%= form_with(url: currencies_path, method: :get, local: true) do |form| %>
        <%= form.select(:currency, @currencies_for_select, prompt: "Please select a currency") %>
        <%= form.submit "Submit", class: "custom-button" %>
    <% end %>
    <% if @countries.present? %>
        <% @countries.each do |country| %>
            <ul>
                <li><%= country %></li>
            </ul>
        <% end %>
    <% end %>